<nav class="header navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/home"> Home    </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/form"> Create </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/list"> List  </a>
      </li>
    </ul>
  </div>
</nav>
