.footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 15px 20px;
  height: 60px;
  text-align: center;
  font-size: 17px;
  border-top: 2px solid #e6e6e6;
  background-color: black;
}

.filters li{
  display: inline;
  color: beige;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
