
<footer class="footer">
  <ul class="filters">

    <li>
      Active: {{this.getNotCompletedLength()}}
    </li>

    <li>
      Completed: {{this.getCompletedLength()}}
    </li>

    <li *ngIf="this.getNotCompletedLength()> 0">
        Next: {{this.getNextTodo()?.title}}
    </li>

    <li *ngIf="this.getLastUpdated()">
       Last Updated: {{this.getLastUpdated()?.title}}
    </li>

  </ul>
</footer>








  <!--  <p class="text-center">the next Todo {{this.todos[0].title}}</p>-->

