<div class="container p-5 my-5 bg-light">
  <h1 class="display-3 text-center blue">Edit ToDo</h1>
  <br/>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="mb-3 mt-3">
      <input class="form-control"
             placeholder="Enter your ToDo title"
             type="text"
             id="text"
             name="title"
             maxlength="120"
             [ngModel]="todo.title"
             required>
    </div>
<!--    <div class="mb-3">-->
<!--      <input class="form-control from-control-date"-->
<!--             type="date"-->
<!--             id="date"-->
<!--             name="date"-->
<!--             [ngModel]="todo.date"-->
<!--             required>-->
<!--    </div>-->
    <div>
      <textarea  class="form-control"
                 rows="5"
                 placeholder="ToDo Description"
                 type="text"
                 id="description"
                 name="description"
                 [ngModel]="todo.description"></textarea>
    </div>
    <div class="mb-3 mt-3">
      <button class="btn btn-danger" type="button" (click)="close()">Cancel</button>
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
    </div>
  </form>
</div>
