<div class="container p-5 my-5 bg-light">
  <h1 class="display-3 text-center blue">ToDo Form</h1>
  <br/>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="mb-3 mt-3">
      <input class="form-control" placeholder="Enter your ToDo title"
             type="text" id="text" name="title" #name="ngModel" maxlength="120" required [(ngModel)]="todos.title">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"> Name is required</div>
    </div>
    <div class="mb-3">
      <input class="form-control from-control-date" type="date" id="date" name="date" #date="ngModel" required [(ngModel)] = "todos.date">
      <div *ngIf="date.invalid && (date.dirty || date.touched)" class="">Date is required</div>
    </div>
    <div>
      <textarea  class="form-control" rows="5" placeholder="ToDo Description" type="text" id="description"
                 name="description" [(ngModel)]="todos.description"></textarea>
    </div>
    <div class="mb-3 mt-3">
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">ADD ToDo</button>
    </div>
  </form>
</div>

<app-footer></app-footer>

<!---  --->
