.todo-item {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  position: relative;
  font-size: 18px;
  padding: 50px 15px;
  margin-bottom: 10px;
  cursor: move;
  background: lightblue;
  color: black;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 10px 15px 15px 10px;
}


.todo-item .check-box {
  display: flex;
  position: absolute;
  flex-shrink: 0;

  top: 25px;
  left: 5px;

  border: 2px solid gray;
  border-radius: 50%;

  margin-right: 20px;
  margin-top: 15px;

  height: 28px;
  width: 28px;

  cursor: pointer;

  transition: background-color 0.2s, border-color 0.2s;
}

.check-box:hover {
  background: beige;
}

.todo-item .todo-controls-box {
  position: absolute;
  top: 25px;
  right: 5px;

  display: flex;

  cursor: pointer;

  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}

.todo-controls-box .todo-control-button {
  display: flex;
  padding: 7px 10px;
}

.todo-controls-box .todo-control-button.is-danger:hover i.material-icons {
  color: darkred;
}

.todo-controls-box .todo-control-button:hover i.material-icons {
  color: blue;
}

.test{
  display: flex;
}

.title{
  position: absolute;
  top: 35px;
  left: 50px;
  font-family: serif;
  font-size: 24px;
}

.description{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
}

.description-icon{
  position: absolute;
  transition: background 0.2s;
  top: 30px;
  margin: 0 auto;
}

.description-text {
  white-space: break-spaces;
  margin-top: 50px;
}

.ul__list-to-show{
  text-align: center;
}

.title__list-to-show{
  text-align: center;
}

.panel-group{
  margin-top: 100px;
}

.item-per-page{
  text-align: right;
}

.select_items_per_page{
  position: relative;
  left: 20px;
  padding: 3px 20px;
}

.title__label-item-per-page{
  font-family: serif;
  font-size: 18px;
}


.selected-title{
  text-align: center;
}

.selected-list{
  display: block;
  flex-direction: row;
  width: 50%;

  border: 2px solid gray;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 10px 15px 15px 10px;

  margin: 30px auto;
  padding: 10px 10px;

  text-align: center;
  font-size: 24px;
  font-family: "Avenir Light", serif ;


}

.checked-buttons{
  display: flex;
  margin: 0 auto;
  width: 50%;
  justify-content: right;
}

.remove-checked-item{
  font-size: 50px;
  cursor: pointer;

  transition: background-color 0.2s, border-color 0.2s;
}

.remove-checked-item + .hide-delete{
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
}

.remove-checked-item:hover{
  color: darkred;
  opacity: 1;
}

.remove-checked-item:hover + .hide-delete{
  visibility: visible;
}


.checked-button{
  cursor: pointer;
  font-size: 50px;
  transition: background-color 0.2s, border-color 0.2s;
}

.checked-button + .hide-checked{
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
}

.checked-button:hover + .hide-checked{
  visibility: visible;
}

.checked-button:hover{
  color: #44FFE2;
}

.check-box-list{
  position: absolute;
  top: 8px;
  right: 100px;
}
