<!----------------------------------------- SELECT BUTTONS ---------------------------------------------------->

<h1 class="h1 display-3 text-center" xmlns="http://www.w3.org/1999/html"> ToDo List </h1>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title title__list-to-show">
        <a data-toggle="collapse" href="#collapse1">Choose list to show</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group ul__list-to-show">
        <li class="li__list-to-show">
          <span class="btn span__list-to-show" (click)="onDone()">done Todos</span>
          <span class="btn span__list-to-show" (click)="onNotDone()">open Todos</span>
          <span class="btn span__list-to-show" (click)="onBoth()">both done and open</span></li>
      </ul>
    </div>
  </div>
</div>
<br/>
<!---------------------------------------------- TODO LIST UNFINISHED -------------------------------------------->

<div class="container">
  <ul class="list-group">
    <div *ngIf="notDone">
      <div class="item-per-page">
        <label for="select-entry-per-site" class="title__label-item-per-page">Items per Page </label>
        <select id="select-entry-per-site" class="select_items_per_page" [(ngModel)]="entryPerPage">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
        </select>
      </div>
      <br/>

      <li *ngFor="let todo of this.listArray | paginate: {itemsPerPage: entryPerPage, currentPage: currentPage}; let i = index" class="list-unstyled"
          draggable="true"
          (dragstart)="onDragStart(i)"
          (dragover)="allowDrop($event)"
          (drop)="onDropOpen($event, i)">

        <div *ngIf ="!this.todo.isComplete" class="todo-item">
          <div class="check-box" (click)="onComplete(this.todo.id)">
            <i class="material-icons">check</i>
          </div>
          <div class="title">{{this.todo.title}}</div>
          <div class="description">
            <div *ngIf="this.todo.description" class="material-icons description-icon"
                 data-toggle="collapse"
                 [attr.data-target]="'#'+todo.id"
                 [attr.aria-controls]="todo.id"
                 role="button"
                 aria-expanded="false">
              arrow_drop_down
            </div>
            <div class="collapse description-text text-area" [attr.id]="todo.id">{{this.todo.description}}</div>
          </div>

          <div class="todo-controls-box">
            <div class="check-box-list">
              <mat-checkbox type="checkbox" (click)="onChecked(this.todo)"></mat-checkbox>
            </div>
            <div class="todo-control-button" (click)="onEdit(this.todo)">
              <i class="material-icons">edit</i>
            </div>
            <div class="todo-control-button is-danger" (click)="onDelete(this.todo.id)">
              <i class="material-icons">delete</i>
            </div>
          </div>
        </div>
        <br/>
      </li>
      <div *ngIf="this.checkList.length > 0">
        <div class="checked-buttons">
          <div class="remove-checked-item" (click)="deleteChecked()">
            <i class="glyphicon glyphicon-trash"></i>
          </div>
          <span class="hide-delete">delete all checked</span>
          <div class="checked-button" (click)="completedCheckList()">
            <i class='bi bi-check-all'></i>
          </div>
          <span class="hide-checked">mark all as completed</span>
        </div>
      </div>
    </div>

    <br/>
    <br/>
    <!-------------------------------------- TODO LIST FINISHED -------------------------------------------------->

    <div *ngIf="done">
      <h5 class="text-center display-5">Completed List</h5>
      <li *ngFor="let todo of this.listArray | paginate: {itemsPerPage: entryPerPage, currentPage: currentPage}; let i = index" class="list-unstyled"
          draggable="true"
          (dragstart)="onDragStart(i)"
          (dragover)="allowDrop($event)"
          (drop)="onDropDone($event, i)">

        <div *ngIf="this.todo.isComplete" class="todo-item">
          <div class="title">{{this.todo.title}}</div>
          <div *ngIf="this.todo.description" class="material-icons description-icon"
                data-toggle="collapse"
                [attr.data-target]="'#'+todo.id"
                [attr.aria-controls]="todo.id"
                role="button"
                aria-expanded="false">
              arrow_drop_down
          </div>
          <div class="collapse" [attr.id]="todo.id">
            <div class="description-text">
              {{this.todo.description}}
            </div>
          </div>
          <div class="todo-controls-box">
            <div class="todo-control-button is-danger delete" (click)="onDelete(this.todo.id)">
              <i class="material-icons">delete</i>
            </div>
          </div>
        </div>
        <br/>
      </li>
      <br/>
      <br/>
    </div>
  </ul>
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>


<app-footer></app-footer>

