<div class="main container bg-light mt-3">
  <h1 class="title display-3 text-center text-primary">ToDo App</h1>
  <div class="link text-center">
    <a routerLink="/form"><button class="btn btn-secondary btn-lg">Create New ToDo</button></a>
    <a routerLink="/list"><button class="btn btn-secondary btn-lg">Go to your List ToDo</button></a>
  </div>
</div>

<app-footer></app-footer>


